<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyf.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.zyf.model.domain.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="userAccount" column="user_account" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="profile" column="profile" jdbcType="VARCHAR"/>
            <result property="tagNames" column="tag_names" jdbcType="VARCHAR"/>
            <result property="userStatus" column="user_status" jdbcType="INTEGER"/>
            <result property="userRole" column="user_role" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,user_account,
        avatar_url,gender,user_password,
        phone,email,profile,
        tag_names,user_status,user_role,
        create_time,update_time,is_delete
    </sql>

    <select id="selectUsersByTeamId" resultMap="BaseResultMap">
        SELECT
            u.id, u.username, u.user_account, u.avatar_url, u.gender, u.phone, u.email,
            u.profile, u.tag_names, u.user_status, u.user_role, u.create_time, u.update_time
        FROM
            team t
        INNER JOIN
            user_team ut
        ON
            t.id = ut.team_id
        INNER JOIN
            user u
        ON
            u.id = ut.user_id
        WHERE
            t.id = #{teamId}
        ORDER BY
            ut.id ASC
    </select>
</mapper>
